.killscript
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
bin/.dirstamp
bin/circle
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lib/core.*
lib/crash/*.room
lib/etc/board.*
lib/etc/clandata
lib/etc/clanlevs
lib/etc/hcontrol
lib/etc/pawnshop
lib/etc/players
lib/etc/plrmail
lib/etc/restrict
lib/etc/storage
lib/misc/bugs
lib/misc/ideas
lib/misc/mobvars
lib/misc/typos
lib/pets/*.pet
lib/plrfiles/*.data
lib/plrobjs/*.objs
lib/plrtext/*.text
libtool
log/badpws
log/cheats
log/delete
log/dts
log/eqload
log/errors
log/godcmds
log/levels
log/newplayers
log/nohelp
log/olc
log/rentgone
log/restarts
log/rip
log/usage
ltmain.sh
m4
missing
src/*.o
src/.deps
src/Makefile
src/Makefile.in
src/conf.h
src/conf.h.in
src/stamp-h1
syslog
