bin/circle
lib/crash/*.room
lib/etc/board.*
lib/etc/clandata
lib/etc/clanlevs
lib/etc/hcontrol
lib/etc/pawnshop
lib/etc/players
lib/etc/plrmail
lib/etc/restrict
lib/etc/storage
lib/misc/bugs
lib/misc/typos
lib/misc/ideas
lib/misc/mobvars
lib/pets/*.pet
lib/plrfiles/*.data
lib/plrobjs/*.objs
lib/plrtext/*.text
src/*.o
log/badpws
log/cheats
log/delete
log/dts
log/eqload
log/errors
log/godcmds
log/levels
log/newplayers
log/nohelp
log/olc
log/rentgone
log/restarts
log/rip
log/usage
